{% extends 'base/kernel-ci-base-tftp-deploy.jinja2' %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block main %}
{{ super() }}
{% endblock %}
{% block actions %}
context:
  extra_kernel_args: console_msg_format=syslog
{%- block deploy %}
{{ super () }}
{%- endblock %}

- boot:
    timeout:
      minutes: 5
    method: u-boot
    commands: ramdisk
    prompts:
      - '{{ rootfs_prompt }}'
{% endblock %}
